<template>
  <b-list-group>
		<b-list-group-item v-for="detail in details" v-bind:key="detail"
		><b>{{ capitializeFletter(detail) }}: </b>{{ record[detail] }}</b-list-group-item>
		<b-list-group-item v-if="images.length != 0"><b>Images: </b>
			<a v-for="image in images" :key="image.iiifbaseuri"
			:href="image.iiifbaseuri + '/full/full/0/native.jpg'" target="_blank">
				<img :src="image.iiifbaseuri + '/full/full/0/native.jpg'"
					style="width:50px;height:50px">
			</a>
		</b-list-group-item>
		<b-list-group-item v-else>No images!</b-list-group-item>
	</b-list-group>
</template>

<script>
	export default {
		name: "displayRecord",

		components: {

		},

		props: {
			// which keys in the json record do you want to display?
			details: Array,
			// the record you want to display
			record: Object,
		},

		data: () => ({

		}),

		methods: {
			capitializeFletter(string) {
				return string[0].toUpperCase() + string.slice(1);
			},

		},

		computed: {
			images: function() {
				if (this.record.hasOwnProperty('images')) {
					return this.record['images'];
				}
				else {
					return [];
				}
			}
		},

		mounted() {
			
		}
	}
</script>