<template>
	<div class="container col-8">
		<b-list-group-item @click="toggleShow()" button variant="secondary">{{gallery.name}}</b-list-group-item>
		<Objects v-if="show_objects == true" :gallery_id="gallery.id"/>
	</div>
</template>

<script>
	import Objects from '@/components/Objects.vue'

	export default {
		name: "Gallery",

		components: {
			Objects
		},

		props: {
			gallery: Object
		},

		data: () => ({
			show_objects: false
		}),

		methods: {
			toggleShow() {
				this.show_objects = !this.show_objects;
			}

		},

		mounted() {

		}
	}
</script>