<template>
	<div id='galleries'>
		<h2>Galleries</h2>
		<b-list-group>
			<Gallery v-for="gallery in galleries" 
				v-bind:key="gallery.id"
				v-bind:gallery="gallery">
			</Gallery>
		</b-list-group>
		<b-button-group>
        <b-button v-if="has_prev" @click="prevPage()" variant="outline-secondary" >Previous</b-button>
        <b-button v-if="has_next" @click="nextPage()" variant="outline-secondary">Next</b-button>
     </b-button-group>
	</div>
</template>

<script>
	import Gallery from '@/components/Gallery.vue'

	export default {
  name: "Galleries",

  components: {
  		Gallery
    },

  props: {

  },

  data: () => ({
  	info: JSON,
    galleries: JSON,
  }),

  computed: {
      has_next() {
        return this.info.page < this.info.pages
      },
      has_prev() {
        return this.info.page > 1
      }
    }, 

  methods: {
		async getGalleries() {
	  	let response = await fetch("http://localhost:3000/gallery")
	  	let myJson = await response.json();
	  	this.galleries = myJson.records
	  	this.info = myJson.info
		},
		async nextPage() {
        let response = await fetch(this.info.next);
				let myJson = await response.json();
        this.info = myJson.info;
        this.galleries = myJson.records;      
      },
      async prevPage() {
        let response = await fetch(this.info.prev);
        let myJson = await response.json();
        this.info = myJson.info;
        this.galleries = myJson.records;
      }
  },

  async mounted() {
  	this.getGalleries();
  },

}
</script>