<template>
	<div id='navbar'>
   <b-button-group>
    <b-dropdown right text="Search">
      <b-dropdown-item @click="changePage(1); setResource('objects')">Objects</b-dropdown-item>
      <b-dropdown-item @click="changePage(1); setResource('people')">People</b-dropdown-item>
      <b-dropdown-item @click="changePage(1); setResource('exhibitions')">Exhibitions</b-dropdown-item>
      <b-dropdown-item @click="changePage(1); setResource('publications')">Publications</b-dropdown-item>
    </b-dropdown>
     <b-button @click="changePage(2)">View Search History</b-button>
     <b-button @click="changePage(3)">All Galleries</b-button>
   </b-button-group>
   <br><br>
   <Search v-if="which_page == 1" :resource="resource"/>
   <Galleries v-if="which_page == 3"/>
  </div>
</template>

<script>
	import Search from '@/components/Search.vue'
  import Galleries from '@/components/Galleries.vue'

	export default {
    name: 'navBar',

    components: {
      Search,
      Galleries
    },

    data: () => ({
    	which_page: 0,
      resource: ""
    }),


    methods: {
      changePage(page)
      {
      	this.which_page = page;
      },

      setResource(resource)
      {
        this.resource = resource;
      }
    },

    mounted() {
    	
    }
}
</script>

<style>
</style>