<template>
  <div>
    <b-form class="container col-4" @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="Keyword:"
        label-for="input-1"
        description="Keywords such as titles, artists, description, classification, culture, and worktype."
      >
        <b-form-input
          id="input-1"
          v-model="form.keyword"
          placeholder="Search by keyword"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Person:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.person"
          placeholder="Search by person"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Year Made:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.yearmade"
          placeholder="Search by year YYYY"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Color:" label-for="input-4">
        <b-form-select
          id="input-4"
          v-model="form.hue"
          :options="colors"
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-5" label="Has images?" label-for="input-5">
        <b-form-select
          id="input-5"
          v-model="form.hasimage"
          :options="yesno"
        ></b-form-select>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <br>
    <div class="container col-8" v-if="showResults">
      <Results :records="resultsJson.records" :details="details" identifier="title" :page="resultsJson.info.page"/>
      <b-button-group>
        <b-button v-if="has_prev" @click="prevPage()" variant="outline-success" >Previous</b-button>
        <b-button v-if="has_next" @click="nextPage()" variant="outline-info">Next</b-button>
      </b-button-group>
    </div>
  </div>
</template>

<script>
  import Results from '@/components/Results.vue'

  export default {
    components: {
      Results,
    },

    data() {
      return {
        form: {
          keyword: '',
          person: '',
          yearmade: '',
          hue: null,
          hasimage: null
        },
        colors: [{ text: 'Color: Select One', value: null }, 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'black', 'white', 'brown'],
        yesno: [{ text: 'Has images: Select One', value: null }, { text: 'yes', value: 1 }, { text: 'no', value: 0 }],
        show: true,
        resultsJson: null,
        showResults: false,
        details: ['title', 'department', 'period', 'classification', 'id']
      }
    },

    computed: {
      has_next() {
        return this.resultsJson.info.page < this.resultsJson.info.pages
      },
      has_prev() {
        return this.resultsJson.info.page > 1
      }
    }, 

    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        this.doSearch()
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.keyword = ''
        this.form.person = ''
        this.yearmade = ''
        this.form.hue = null
        this.form.has_image = null
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.showResults = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      async doSearch() {
        let response = await fetch(this.create_server_url("search/object", this.form));
        let myJson = await response.json();
        this.resultsJson = myJson;
        this.showResults = true;
      },
      create_server_url(route, params, q=false)
      {
        let BASE_URL = "http://localhost:3000/"
        // route?q=field=value
        // currently only handles one q=field:value
        if (q)
        {
          let url = new URL(BASE_URL + route + "?q=");
          Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
          let new_url = url.href.replace("&", "");
          return new_url;
        }
        else
        {
          let url = new URL(BASE_URL + route + "?");
          Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
          return url;
        }
      },
      async nextPage() {
        let response = await fetch(this.resultsJson.info.next);
        this.resultsJson = await response.json()
      },
      async prevPage() {
        let response = await fetch(this.resultsJson.info.prev);
        this.resultsJson = await response.json()
      }
    }
  }
</script>