<template>
	<div v-if="objects.length != 0" class="objects">
		<Results :records="objects" identifier="title" :details="['title', 'department', 'period', 'classification', 'id']" :page="info.page"/>
		<b-button-group>
        <b-button v-if="has_prev" @click="prevPage()" variant="outline-success" >Previous</b-button>
        <b-button v-if="has_next" @click="nextPage()" variant="outline-info">Next</b-button>
     </b-button-group>
	</div>
	<div v-else>No objects!</div>
</template>

<script>
	import Results from '@/components/Results.vue'

	export default {
		name: "Objects",

		components: {
			Results
		},

		props: {
			gallery_id: Number
		},

		computed: {
      has_next() {
        return this.info.page < this.info.pages
      },
      has_prev() {
        return this.info.page > 1
      }
    }, 

		data: () => ({
			info: Object,
			objects: Array,
		}),

		methods: {
			async getObjects() {
		  	let response = await fetch(`http://localhost:3000/gallery/${this.gallery_id}/objects`)
		  	let myJson = await response.json();
		  	this.objects = myJson.records
		  	this.info = myJson.info
			},
			async nextPage() {
        let response = await fetch(this.info.next);
				let myJson = await response.json();
        this.info = myJson.info;
        this.objects = myJson.records;      
      },
      async prevPage() {
        let response = await fetch(this.info.prev);
        let myJson = await response.json();
        this.info = myJson.info;
        this.objects = myJson.records;
      }

		},


		mounted() {
			this.getObjects();
		}
	}
</script>