<template>
  <div>
    <b-form class="container col-4" @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="Name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.displayname"
          placeholder="Search by name"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Culture:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.culture"
          placeholder="Search by culture"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Gender:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="form.gender"
          :options="genders"
        ></b-form-select>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <br>
    <div class="container col-8" v-if="showResults">
      <Results v-bind:records="resultsJson.records" :details="details" identifier="displayname" :page="resultsJson.info.page"/>
      <b-button-group>
        <b-button v-if="has_prev" @click="prevPage()" variant="outline-success" >Previous</b-button>
        <b-button v-if="has_next" @click="nextPage()" variant="outline-info">Next</b-button>
      </b-button-group>

    </div>
  </div>
</template>

<script>
  import Results from '@/components/Results.vue'

  export default {
    components: {
      Results
    },

    data() {
      return {
        form: {
          displayname: '',
          culture: '',
          gender: null,
        },
        genders: [{ text: 'Gender: Select One', value: null }, 'male', 'female'],
        show: true,
        resultsJson: null,
        showResults: false,
        details: ["displayname", "gender", "birthplace", "culture", "personid"]
      }
    },

    computed: {
      has_next() {
        return this.resultsJson.info.page < this.resultsJson.info.pages
      },
      has_prev() {
        return this.resultsJson.info.page > 1
      }
    }, 

    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        this.doSearch()
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.displayname = ''
        this.form.culture = ''
        this.form.gender = null
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.showResults = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      async doSearch() {
        let params = {};
        for (const [key, value] of Object.entries(this.form))
        {
          if (value != '')
          {
            params[key] = value;
            break;
          }
        }
        let response = await fetch(this.create_server_url("search/person", params, true));
        let myJson = await response.json();
        console.log(myJson)
        this.resultsJson = myJson;
        this.showResults = true;

      },

      create_server_url(route, params, q=false)
      {
        let BASE_URL = "http://localhost:3000/"
        // route?q=field=value
        // currently only handles one q=field:value
        if (q)
        {
          let url = new URL(BASE_URL + route + "?q=");
          Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
          // let url = new URL(BASE_URL + route + "?");
          // Object.keys(params).forEach(key => url.searchParams.append("q", `${key}:${params[key]}`));
          let new_url = url.href.replace("&", "");
          return new_url;
        }
        else
        {
          let url = new URL(BASE_URL + route + "?");
          Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
          return url;
        }
      },
      async nextPage() {
        let response = await fetch(this.resultsJson.info.next);
        this.resultsJson = await response.json()
      },
      async prevPage() {
        let response = await fetch(this.resultsJson.info.prev);
        this.resultsJson = await response.json()
      }
    }
  }
</script>