<template>
  <div id="results">      
    <b-card-group results>
      <b-card :header="'Results: Page ' + page">
        <div v-if="records.length != 0" role="tablist">
          <b-card v-for="record in records" :key="record.id" 
          no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block href="#" v-b-toggle="'accordion-' + record.id" variant="info">{{ record[identifier] }}</b-button>
            </b-card-header>
            <b-collapse v-bind:id="'accordion-' + record.id" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <displayRecord v-bind:record="record" v-bind:details="details"/>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
        <div v-else>No results found.</div>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
  import displayRecord from '@/components/displayRecord.vue'

  export default {
    name: "Results",

    components: {
      displayRecord,
    },

    props: {
      // what is the main identifier of the record?
      identifier: String,
      // which keys in the json record do you want to display?
      details: Array,
      // the records you want to display
      records: Array,
      // what is the page number of this set of records?
      page: Number
    },

    data: () => ({

    }),

    methods: {

    },

    mounted() {

    }
  }
</script>
