<template>
	<div id="search">
  	<h1>Search</h1>
    <div v-if="resource == 'objects'">
    	<h2>Search for Objects</h2>
      <objectSearch/>
    </div>

    <div v-if="resource == 'people'">
      <h2>Search for People:</h2>
      <peopleSearch/>
    </div>

    <div v-if="resource == 'exhibitions'">
      <h2>Search for Exhibitions:</h2>
      <exhibitionSearch/>
    </div>

    <div v-if="resource == 'publications'">
      <h2>Search for Publications:</h2>
      <p>Publications that have been written about or contain images of artworks in the Harvard Art Museums collection.</p>
      <publicationSearch/>
    </div>
  </div>
</template>

<script>
  import objectSearch from '@/components/objectSearch.vue'
  import peopleSearch from '@/components/peopleSearch.vue'
  import exhibitionSearch from '@/components/exhibitionSearch.vue'
  import publicationSearch from '@/components/publicationSearch.vue'

export default {
  name: "Search",

  components: {
    objectSearch,
    peopleSearch,
    exhibitionSearch,
    publicationSearch
  },

  props: {
    resource: String
  },

  data() {
    return {

    }
  },

  methods: {

  },

  mounted() {
  	
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
}
</style>