<template>
  <div id="app">
    <a href="https://www.poetryfoundation.org/poems/48860/the-raven">
      <img alt="Raven" src="./assets/raven.jpg" style="width:50px;height:50px;">
    </a>
    <h1>Harvard Art Musuem Search Interface</h1>
    <navBar/>
  </div>
</template>

<script>
import navBar from './components/navBar.vue'

export default {
  name: 'app',
  components: {
    navBar,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
</style>
